<div id="cartContainer">
    <div id="backgroundDiv">

    </div>
    <div id="showCartDiv">
        <div id="showCartTop">
            <span>Cart</span>
            <span class="material-icons cartClose">close</span>
        </div>
        <div id="emptyCart">
            <div>Your Cart is Empty!</div>
        </div>
        <div id="showCartProduct">


        </div>
        <div id="showCartBottom">
            <span>Add Order Note</span>
            <span>Shipping & taxes calculated at checkout</span>
            <button><span>CHECKOUT &nbsp;</span><span>&#8226; &nbsp;</span><span>  Rs. </span></button> </div>
    </div>
    
</div>