<div class="footer-wrapper">
    <h1>We ❤️ Being Friends</h1>
    <div class="socialicons">
        <ul>
            <li><img src="https://cdn.shopify.com/s/files/1/0034/7901/1441/t/139/assets/facebook-svg2.svg?v=1619612966"
                    alt=""></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0034/7901/1441/t/139/assets/twitter-svg2.svg?v=1619612966"
                    alt=""></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0034/7901/1441/t/139/assets/instagram-svg2.svg?v=1619612966"
                    alt=""></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0034/7901/1441/t/139/assets/ping-svg2.svg?v=1619612966"
                    alt=""></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0034/7901/1441/t/139/assets/youtube-svg2.svg?v=1619612966"
                    alt=""></li>
        </ul>
    </div>
    <h3>Choose Pure! Choose Deyga!</h3>
    <div class="footer-row">
        <div class="col">
            <h4>Contact</h4>
            <ul>
                <li>+91 9159305599</li>
                <li>enquiry@deyga.in</li>
                <li>Contact us</li>
            </ul>
            <h4>FOR CORPORATE ORDERS:</h4>
            <ul>
                <li>business@deyga.in</li>
            </ul>
        </div>
        <div class="col">
            <h4>Support</h4>
            <ul>
                <li> About us</li>
                <li>FAQs</li>
                <li>Privacy policy</li>
                <li>Terms and Conditions</li>
                <li>Shipping & Returns</li>
                <li>Track your order</li>
            </ul>
        </div>
        <div class="col">
            <h4>Sign-up to get closer</h4>
            <ul>
                <li>
                    <p>Subscribe to get special offers, free giveaways and once in a lifetime deals</p>
                </li>
                <li><input type="text" id="Subscribe" placeholder="Enter your email address">
                    <button class="hover-underline-animation" id="subscribe">SUBSCRIBE</button></li>
            </ul>
        </div>
    </div>
</div>