<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Poppins&display=swap"
        rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="css/account.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/cart.css" />
</head>

<body>
    <header id="navbar">
        <%- include("./components/navbar") %>
    </header>
    <div id="sp-container">
        <div id="search-modal-container">
            <div id="empty"></div>
            <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
                <ol>
                    <li>
                        <a href="/" title="Home" style="color: black;">Home</a>
                    </li>
                    <li aria-current="page">
                        <a href="loginpage.html" aria-current="page">Account</a>
                    </li>
                </ol>
            </nav>

        </div>
        <div id="sign-container-div">
            <div id="form-div">
                <form id="create_customer" action="">
                    <div class="form-header">
                        <h1 class="u-h1">login</h1>
                        <div class="oxi-social-login"> <a href="/auth/google"><img src="https://www.nicepng.com/png/full/30-300653_october-20-2016-login-with-google-png.png" width="100%" alt=""></a></div>
                               <br>
                        <p class="form-legend">Please enter your e-mail and password:</p>
                    </div>


                    <div class="form-imput-div">
                        <input type="email" id="email" class="form-input" name="email" aria-label="Email"
                            placeholder="Email" required="required">
                        <label class="form-input-lable">Email</label>
                    </div>

                    <div class="form-imput-div">
                        <input type="password" id="password" class="form-input" name="password"
                            aria-label="Password" placeholder="Password" required="required" aria-autocomplete="list">
                        <label class="form-input-lable">Password</label>
                        <button type="button" onclick="recoverPassword()" class="form-input-ac-link ac-link"
                            data-action="toggle-recover-form">Forgot
                            password?</button>
                    </div>
                    <button class="login-btn" id="loginBtn" type="submit">Login</button>
                    <div class="Form__Hint Form__Hint--center">
                        <span class="Text--subdued">Don't have an account?</span>
                        <a href="/signup" class="ac-link ac-link--secondary">Create one</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <footer>
        <%- include("./components/footer") %> 
    </footer>
    <div id="cart"></div>
</body>

</html>
<script>
    document.getElementById("loginBtn").addEventListener("click",(e)=>{
        e.preventDefault();
        login();
    })

  
    async function login() {
        let login_data = {
        email: document.getElementById("email").value,
        password: document.getElementById("password").value,
        
        };
    
        login_data = JSON.stringify(login_data);
        console.log(login_data);

        let login_api = `http://localhost:8000/userLogin`;

        let response = await fetch(login_api, {
        method: "POST",
        body: login_data,

        headers: {
            "Content-Type": "application/json",
        },
        });

        let data = await response.json();
        window.location.href = "/"
        console.log('data: ', data);
    
    }

    async function getProfile(email,token){
        let api = `https://masai-api-mocker.herokuapp.com/user/${email}`;

        let response = await fetch(api,{
                headers : {
                    "Content-Type" : "application/json",
                    "Authorization": `Bearer ${token}`
                }
        });

        // let userdata = await response.json();
        // console.log('data: ', userdata);
    }


  </script>
<script src="../scripts/login.js"></script>
<script src="../scripts/commonFunctions.js"></script>
